.container {
  margin: 0 auto;
  width: 1100px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  color: #fff;
}

/* header */
.header {
  background: #33447A;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-shadow: 1px 1px 1px #000000;
}

.navbar__item {
  margin-right: 20px;
  text-transform: uppercase;
}

.header__logo {
  margin-right: 40px;
  margin-bottom: 5px;
}

.login__btn {
  background: #255BFA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  font-size: 26px;
  line-height: 31px;
  padding: 12px 45px;
}

.burger {
  display: none;
}

/* hero */
.hero {
  background: url("../img/main_bg.png") center center/cover no-repeat;
  min-height: 600px;
}
.hero__content {
  text-align: center;
  padding-top: 350px;
}

.hero__title {
  font-weight: bold;
  font-size: 90px;
  line-height: 108px;
}

.hero__subtitle {
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  max-width: 1000px;
  margin: auto;
}

.hero__btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  padding-bottom: 50px;
}

.btn__primary {
  background: #255BFA;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 14px 32px;
  color: #fff;
  text-decoration: none;
  margin-right: 70px;
}

.btn__secondry {
  background: #7ED80A;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 14px 32px;
  color: #fff;
  text-decoration: none;  
  margin-left: 70px;
}

/* advantages */
.advantages {
  margin: auto;
  margin-top: 20px;
}

.advantages__title {
  display: block;
  font-weight: bold;
  font-size: 58px;
  line-height: 72px;
  text-align: center;
  color: #255BFA;
  margin-bottom: 60px;
}

.advantage__item {
  list-style-type: none;
  font-weight: normal;
  font-size: 26px;
  line-height: 36px;
  color: #3C3C3C;
  margin-bottom: 60px;
}

.bold {
  font-weight: bold;
  color: #000000;
}

/* media */
@media (max-width: 768px) {
  .burger {
  display: block;
  }

  .container {
    max-width: 550px;
    width: 97%;
  }

  .header__logo {
    margin-right: 0px;
  }
  .navbar__item {
    display: none;
  }

  .login__btn {
    display: none;
  }

  .hero__content {
    padding-top: 150px;
  }

  .hero__title {
    font-size: 50px;
  }

  .hero__subtitle {
    font-size: 28px;
  }

  .btn__primary {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .btn__secondry {
    width: 100%;
    margin-left: 0;
  }

  .hero__btn {
    flex-wrap: wrap;
  }
}

@media (max-width: 520px) {
    .container {
    width: 90%;
  }

  .advantages__title {
    font-size: 33px;
  }

  
  .hero__title {
    font-size: 40px;
  }

  .hero__subtitle {
    font-size: 23px;
  }

  .advantage__item {
    font-size: 24px;
  }

  .header__logo {
    width: 70%;
  }

}

@media (max-width: 360px) {
    .container {
    width: 96%;
  }

  .hero__title {
    font-size: 30px;
  }

  
  .hero__subtitle {
    font-size: 18px;
  }



}